<h1>Confirmez votre adresse email</h1>

<p>
    Confirmez svp votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Merci !
</p>
