{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <p>Un email avec votre lien de réinitialisation de mot de passe vous a été envoyé. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas d'email, regardez s'il vous plait dans vos courrier indésirables ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}
