<h1>Modification de passe</h1>

<p>
    Pour réinitialiser votre mot de passe, allez
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a>
    Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s)..
</p>

<p>
    Merci !
</p>